<header class="section-header">
	<h1 class="section-title">Perfiles</h1>
	<a class="section-call-to-action" href="#">Ver toda la programación</a>
</header>
<div class="profiles-container">
	<ul class="profiles-list">
		<li class="profiles-item">
			<h2>Pepita Pérez</h2>
			<div class="image-wrapper">
				<img src="./profile_placeholder@2x.png" alt="">
			</div>
		</li>
		<li class="profiles-item">
			<h2>Pepita Pérez</h2>
			<div class="image-wrapper">
				<img src="./profile_placeholder@2x.png" alt="">
			</div>
		</li>
		<li class="profiles-item">
			<h2>Pepita Pérez</h2>
			<div class="image-wrapper">
				<img src="./profile_placeholder@2x.png" alt="">
			</div>
		</li>
		<li class="profiles-item">
			<h2>Pepita Pérez</h2>
			<div class="image-wrapper">
				<img src="./profile_placeholder@2x.png" alt="">
			</div>
		</li>
	</ul>
</div>