<div>
	<ul class="global">
		<li>
			<h1>Recorre</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ut rem ullam excepturi voluptatibus eius ducimus impedit tenetur suscipit veniam quam non eos, molestiae fugiat, reprehenderit porro odit adipisci modi.</p>
		</li>
		<li>
			<h1>Comprende</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ut rem ullam excepturi voluptatibus eius ducimus impedit tenetur suscipit veniam quam non eos, molestiae fugiat, reprehenderit porro odit adipisci modi.</p>
		</li>
	</ul>
	<ul class="recorre internal">
		<button class="back-menu"><</button>
		<h3>Recorre</h3>
		<li><a href="#">Bienvenidos</a></li>
		<li><a href="#">Proyecto</a></li>
		<li><a href="#">Diseño</a></li>
		<li><a href="#">Publicaciones</a></li>
		<li><a href="#">Equipo</a></li>	
		<li class="change">Recorre</li>
	</ul>
	<ul class="comprende internal">
		<button class="back-menu"><</button>
		<h3>Comprende</h3>
		<li><a href="#">Curaduría</a></li>
		<li><a href="#">Arte, Cultura y Derechos Humanos</a></li>
		<li><a href="#">Educación</a></li>
		<li><a href="#">Programación</a></li>
		<li class="change">Comprende</li>
	</ul>
</div>