<header class="section-header">
	<h1 class="section-title">Participa</h1>
	<a class="section-call-to-action" href="#">Ver toda la programación</a>
</header>
<div class="home-agenda">
	<div class="featured-event">
		<div class="featured-date">
			<span class="month">abril</span>
			<span class="date">31</span>
		</div>
		<h1 class="featured-title">Concierto Tocó Cantar</h1>
		<div class="featured-image"></div>
	</div>
	<ul class="events-list">
		<li class="event-item" data-date="May 23">
			<span class="event-category">Hablemos de memoria</span>
			<h2>Nombre del Evento</h2>
			<span class="event-time">10:00 AM a 11:00 AM</span>
		</li>
		<li class="event-item" data-date="May 23">
			<span class="event-category">Hablemos de memoria</span>
			<h2>Nombre del Evento</h2>
			<span class="event-time">10:00 AM a 11:00 AM</span>
		</li>
		<li class="event-item" data-date="May 23">
			<span class="event-category">Hablemos de memoria</span>
			<h2>Nombre del Evento</h2>
			<span class="event-time">10:00 AM a 11:00 AM</span>
		</li>
	</ul>
	<nav class="event-list-nav">
		<div class="next-prev">
			<button class="prev" disabled>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="17077 -3236.706 41 41"><defs><style>.a,.c{fill:none;}.a{stroke:#242424;stroke-width:2px;}.b{stroke:none;}</style></defs><g transform="translate(17077 -3236.706)"><path class="a" d="M0,0,7.157,6.492,0,12.825" transform="translate(23.72 26.559) rotate(180)"/><g class="a" transform="translate(41 41) rotate(180)"><ellipse class="b" cx="20.5" cy="20.5" rx="20.5" ry="20.5"/><ellipse class="c" cx="20.5" cy="20.5" rx="19.5" ry="19.5"/></g></g></svg>
			</button>
			<button class="next">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="17128 -3236.971 41 41"><defs><style>.a,.c{fill:none;}.a{stroke:#242424;stroke-width:2px;}.b{stroke:none;}</style></defs><g transform="translate(16505 -4180)"><path class="a" d="M0,0,7.157,6.492,0,12.825" transform="translate(640.28 957.47)"/><g class="a" transform="translate(623 943.029)"><ellipse class="b" cx="20.5" cy="20.5" rx="20.5" ry="20.5"/><ellipse class="c" cx="20.5" cy="20.5" rx="19.5" ry="19.5"/></g></g></svg>
			</button>
		</div>
		<ul class="flickity-page-dots">
			
		</ul>
	</nav>
</div>