<div class="downloads-box">
	<h3>Descargas</h3>
	<ul class="downloads-list">
		<li>
			<div class="download-info">
				<h1 data-type="PDF">Libro Completo</h1>
				<h5>93 MB</h5>
			</div>
			<button class="download-btn">
				<span class="btn-wrapper">
					<span class="btn-text">Descargar</span>
					<svg class="download-icon" xmlns="http://www.w3.org/2000/svg" viewBox="8823.5 13370.186 13.688 17.391"><g transform="translate(8414.839 12682.866)"><path class="a b" d="M0,.084H12.987" transform="translate(415.589 687.319) rotate(90)"/><path class="a b" d="M0-.636,4.42,4.009,0,8.719" transform="translate(419.55 695.887) rotate(90)"/><path class="a" d="M0,0H13.687" transform="translate(408.661 704.21)"/></g></svg>
				</span>
			</button>
		</li>

		<li>
			<div class="download-info">
				<h1 data-type="PDF">Libro Completo con un título extrremadamente largo</h1>
				<h5>93 MB</h5>
			</div>
			<button class="download-btn">
				<span class="btn-wrapper">
					<span class="btn-text">Descargar</span>
					<svg class="download-icon" xmlns="http://www.w3.org/2000/svg" viewBox="8823.5 13370.186 13.688 17.391"><g transform="translate(8414.839 12682.866)"><path class="a b" d="M0,.084H12.987" transform="translate(415.589 687.319) rotate(90)"/><path class="a b" d="M0-.636,4.42,4.009,0,8.719" transform="translate(419.55 695.887) rotate(90)"/><path class="a" d="M0,0H13.687" transform="translate(408.661 704.21)"/></g></svg>
				</span>
			</button>
		</li>
	</ul>
</div>