<!-- <aside class="sidebar">
	<ul class="sidebar-nav">
		<li>
			<a href="#">Enlace</a>
			<ul class="sidebar-subnav">
				<li><a href="#">Subenlace</a></li>
				<li><a href="#">Subenlace</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Enlace</a>
		</li>
		<li>
			<a href="#">Enlace</a>
		</li>
		<li>
			<a href="#">Enlace</a>
		</li>
		<li>
			<a href="#">Enlace</a>
		</li>
		<li>
			<a href="#">Enlace</a>
			<ul class="sidebar-subnav">
				<li><a href="#">Subenlace</a></li>
				<li>
					<a href="#">Subenlace</a>
					<ul class="sidebar-subsubnav">
						<li><a href="#">Subsubenlace</a></li>
						<li><a href="#">Subsubenlace</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</aside> -->

<aside class="sidebar-sticky">
	<ul class="sidebar-nav">
		<li class="active">
			<a href="#">Enlace</a>
		</li>
		<li class="has-submenu" data-target-submenu="2">
			<a href="#">Enlace</a>
		</li>
		<li>
			<a href="#">Enlace</a>
		</li>
		<li class="has-submenu" data-target-submenu="4">
			<a href="#">Enlace</a>
		</li>
		<li>
			<a href="#">Enlace</a>
		</li>
	</ul>
	<ul class="sidebar-subnav" data-submenu="2">
		<li class="has-submenu" data-target-submenu="1"><a href="#">Subenlace</a></li>
		<li><a href="#">Subenlace</a></li>
	</ul>
	<ul class="sidebar-subnav" data-submenu="4">
		<li><a href="#">Subenlace2</a></li>
		<li><a href="#">Subenlac2e</a></li>
	</ul>
	<ul class="sidebar-subsubnav">
		<li><a href="#" data-submenu="2">Subenlace</a></li>
		<li><a href="#">Subenlace</a></li>
	</ul>
</aside>